* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: #131516;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.63rem;
}

p {
  font-size: 1rem;
}

.centered {
  text-align: center;
}

.underline_green {
  border-bottom: 0.1rem solid #008000;
}

.underline_black {
  border-bottom: 0.1rem solid #000000;
}

.current {
  font-weight: 900;
}

.main_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 70rem;
}

.hero {
  width: 100%;
  margin-bottom: 1rem;
}

.link_arrow {
  color: #008000;
  margin-left: 0.3rem;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn a {
  margin-top: 3rem;
  padding: 1rem;
  width: 6rem;
  text-align: center;
  background: #00a300;
  background: linear-gradient(90deg, #00a300 0%, #008000 57%, #004100 100%);
  border-radius: 0.25rem;
  transition: 0.3s;
}
.btn a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  header nav ul {
    margin-right: 0 !important;
  }
  #latest_posts section {
    flex-wrap: wrap;
  }
  .posts_grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
header {
  margin: 1rem;
  height: fit-content;
  background: #00a300;
  background: linear-gradient(90deg, #00a300 0%, #008000 57%, #004100 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  border-radius: 0.2rem;
  font-weight: 100;
}
header nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 1.5rem;
  gap: 1.5rem;
}
header nav ul a:hover {
  text-decoration: underline;
}
header img {
  margin: 1.5rem;
  width: 10rem;
}

#welkom {
  margin-top: 4rem;
  color: #000000;
}
#welkom article {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
#welkom p {
  font-size: clamp(0.8rem, 1vw, 1rem);
  margin-top: 0.4rem;
}

#latest_posts {
  margin-top: 4rem;
  padding-bottom: 10vh;
  color: #ffffff;
}
#latest_posts section {
  display: flex;
  gap: 1rem;
}
#latest_posts section article {
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 100%;
}
#latest_posts section article img {
  width: 100%;
}
#latest_posts section article h3 {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
}
#latest_posts section article p {
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  margin-top: 0.5rem;
}

#posts_container {
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: #ffffff;
}
#posts_container section {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#posts_container section img {
  width: 100%;
}
#posts_container section h3 {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
}
#posts_container section p {
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  margin-top: 0.5rem;
}

#post {
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
#post h1 {
  margin-bottom: 1rem;
}
#post h2 {
  margin-bottom: 1rem;
}
#post h3 {
  font-size: 1.5rem;
  font-weight: 900;
}
#post p {
  margin-bottom: 1.2rem;
  line-height: 1.625rem;
  letter-spacing: 0;
}
#post figure {
  margin-top: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#contact_form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 50rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
  color: #ffffff;
}
#contact_form h2 {
  margin-bottom: 2rem;
}
#contact_form .contact_input {
  color: #ffffff;
  font-size: 1.125rem;
  border-radius: 0.3rem;
  line-height: 1.3rem;
  background-color: transparent;
  border: 0.125rem solid #00b400;
  transition: all 0.3s;
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
#contact_form .contact_input:focus {
  border: 0.125rem solid #008200;
}
#contact_form textarea {
  height: 9rem;
  line-height: 150%;
  resize: vertical;
}
#contact_form [type=submit] {
  width: 100%;
  background: #00b400;
  border-radius: 0.3rem;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition: all 0.3s;
  font-weight: 700;
}
#contact_form [type=submit]:hover {
  background: #008200;
}

footer {
  padding: 0.5rem;
  text-align: center;
  background-color: #808080;
}

/*# sourceMappingURL=style.css.map */
