//Variables
$contact-form-color: #00b400;
$contact-form-color-focus: #008200;
$footer-color: #808080;
$default-text-color: #ffffff;
$header-color: #00a300;
$header-gradient: linear-gradient(90deg, #00a300 0%, #008000 57%, #004100 100%);
$highlight-green: #008000;
//End Variables

//Universal
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 0px;
}

a {
    text-decoration: none;
    color: $default-text-color;
}

body {
    background-color: #131516;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.63rem;
}

p {
    font-size: 1rem;
}
//End Universal

//One Off Classes
.centered {
    text-align: center;
}

.underline_green {
    border-bottom: 0.1rem solid $highlight-green;
}

.underline_black {
    border-bottom: 0.1rem solid #000000;
}

.current {
    font-weight: 900;
}

.main_container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 70rem;
}

.hero {
    width: 100%;
    margin-bottom: 1rem;
}

.link_arrow {
    color: $highlight-green;
    margin-left: 0.3rem;
}

.btn {
    display: flex;
    justify-content: center;

    a {
        margin-top: 3rem;
        padding: 1rem;
        width: 6rem;
        text-align: center;
        background: $header-color;
        background: $header-gradient;
        border-radius: 0.25rem;
        transition: 0.3s;
    }

    a:hover {
        opacity: 0.8;
    }
}
//End One Offs Classes

//Media Query
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 1rem;

        nav {
            ul {
                margin-right: 0 !important;
            }
        }
    }

    #latest_posts {
        section {
            flex-wrap: wrap;
        }
    }

    #posts_container {
        section {
            grid-template-columns: 1fr !important;
        }
    }
}
//End Media Query

//Header
header {
    margin: 1rem;
    height: fit-content;
    background: $header-color;
    background: $header-gradient;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-radius: 0.2rem;
    font-weight: 100;

    nav {

        ul {
            list-style-type: none;
            display: flex;
            margin-right: 1.5rem;
            gap: 1.5rem;

            a:hover {
                text-decoration: underline;
            }
        }
    }

    img {
        margin: 1.5rem;
        width: 10rem;
    }
}
//End Header

//Landing index
#welkom {
    margin-top: 4rem;
    color: #000000;

    article {
        padding: 1rem;
        border-radius: 1rem;
        background-color: $default-text-color;
    }

    p {
        font-size: clamp(0.8rem, 1vw, 1rem);
        margin-top: 0.4rem;
    }
}

#latest_posts {
    margin-top: 4rem;
    padding-bottom: 10vh;
    color: $default-text-color;

    section {
        display: flex;
        gap: 1rem;

        article {
            margin-top: 1rem;
            justify-content: space-evenly;
            width: 100%;

            img {
                width: 100%;
            }

            h3 {
                font-size: clamp(0.7rem, 2vw, 1.2rem);
            }

            p {
                font-size: clamp(0.7rem, 1vw, 0.8rem);
                margin-top: 0.5rem;
            }
        }
    }
}
//End Landing index

//Posts pagina
#posts_container {
    margin-top: 2rem;
    margin-bottom: 5rem;
    color: $default-text-color;

    section {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;


        img {
            width: 100%;
        }

        h3 {
            font-size: clamp(0.7rem, 2vw, 1.2rem);
        }

        p {
            font-size: clamp(0.7rem, 1vw, 0.8rem);
            margin-top: 0.5rem;
        }
    }
}
//End Posts Pagina

//Posts
#post {
    color: $default-text-color;
    margin-top: 2rem;
    margin-bottom: 5rem;

    h1 {
        margin-bottom: 1rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 900;
    }

    p {
        margin-bottom: 1.2rem;
        line-height: 1.625rem;
        letter-spacing: 0;
    }

    figure {
        margin-top: 1.2rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
//End Posts

//Contact Form
#contact_form {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 50rem;

    margin-top: 2rem;
    margin-bottom: 10rem;

    color: $default-text-color;

    h2 {
        margin-bottom: 2rem;
    }

    .contact_input {
        color: $default-text-color;
        font-size: 1.125rem;
        border-radius: 0.3rem;
        line-height: 1.3rem;
        background-color: transparent;
        border: 0.125rem solid $contact-form-color;
        transition: all 0.3s;
        padding: 0.8rem;
        margin-bottom: 1rem;
        width: 100%;
        box-sizing: border-box;
        outline: 0;
    }

    .contact_input:focus {
        border: 0.125rem solid $contact-form-color-focus;
    }

    textarea {
        height: 9rem;
        line-height: 150%;
        resize: vertical;
    }

    [type="submit"] {
        width: 100%;
        background: $contact-form-color;
        border-radius: 0.3rem;
        border: 0;
        cursor: pointer;
        color: $default-text-color;
        font-size: 1.5rem;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        transition: all 0.3s;
        font-weight: 700;
    }

    [type="submit"]:hover {
        background: $contact-form-color-focus;
    }
}
//End Contact Form

//Footer
footer {
    padding: 0.5rem;
    text-align: center;
    background-color: $footer-color;
}
//End Footer