* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  header nav ul {
    margin-right: 0 !important;
  }
  .latest_posts section {
    flex-wrap: wrap;
  }
  .posts_grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
a {
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: #131516;
}

header {
  margin: 1rem;
  height: fit-content;
  background: rgb(0, 163, 0);
  background: linear-gradient(90deg, rgb(0, 163, 0) 0%, rgb(0, 128, 0) 57%, rgb(0, 65, 0) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  border-radius: 0.2rem;
  font-weight: 100;
}
header nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 1.5rem;
  gap: 1.5rem;
}
header nav ul li a {
  color: #ffffff;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header img {
  margin: 1.5rem;
  width: 10rem;
}

main {
  background-color: #131516;
}

.main_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 70rem;
}

.post {
  color: #ffffff;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.post h2 {
  font-size: 60px;
  line-height: 60px;
}
.post h3 {
  font-size: 50px;
  line-height: 50px;
  margin-top: 2rem;
}
.post .hero {
  margin-top: 2rem;
  width: 100%;
}
.post p {
  margin-top: 1.2rem;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0px;
}
.post figure {
  margin-top: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.textvak1 {
  margin-top: 4rem;
}
.textvak1 article {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.textvak1 h2 {
  border-bottom: 1px solid black;
}
.textvak1 p {
  font-size: clamp(0.8rem, 1vw, 1rem);
  margin-top: 0.4rem;
  color: #000000;
}

.latest_posts {
  margin-top: 4rem;
  padding-bottom: 10vh;
}
.latest_posts h2 {
  color: #ffffff;
  border-bottom: 1px solid rgb(0, 128, 0);
}
.latest_posts section {
  display: flex;
  gap: 1rem;
}
.latest_posts section article {
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 100%;
}
.latest_posts section article img {
  width: 100%;
}
.latest_posts section article h3 {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
}
.latest_posts section article p {
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  margin-top: 0.5rem;
}

.posts_container {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.posts_container h2 {
  color: #ffffff;
  border-bottom: 1px solid #008000;
}
.posts_container .posts_grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.posts_container .posts_grid img {
  width: 100%;
}
.posts_container .posts_grid h3 {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
}
.posts_container .posts_grid p {
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  margin-top: 0.5rem;
}

.contact_form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 50rem;
  margin-top: 5rem;
  margin-bottom: 38vh;
}
.contact_form h2 {
  color: #ffffff;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(0, 180, 0);
  font-size: 40px;
}
.contact_form .contact_input {
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid rgb(0, 180, 0);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.contact_form .contact_input:focus {
  border: 2px solid rgb(0, 130, 0);
}
.contact_form textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.contact_form [type=submit] {
  width: 100%;
  background: rgb(0, 180, 0);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
.contact_form [type=submit]:hover {
  background: rgb(0, 130, 0);
}
.contact_form p {
  margin-top: 5rem;
  color: #ffffff;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn a {
  margin-top: 3rem;
  padding: 1rem;
  width: 6rem;
  text-align: center;
  background: rgb(0, 163, 0);
  background: linear-gradient(90deg, rgb(0, 163, 0) 0%, rgb(0, 128, 0) 57%, rgb(0, 65, 0) 100%);
  border-radius: 0.25rem;
  transition: 0.3s;
}
.btn a:hover {
  opacity: 0.8;
}

.header_link {
  color: #008000;
  margin-left: 0.3rem;
}

footer {
  padding: 0.5rem;
  text-align: center;
  background-color: #808080;
}

/*# sourceMappingURL=style.css.map */
